#results-container {
    z-index: 1000;
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.result-item:last-child {
    border-bottom: none;
}

.result-item:hover {
    background-color: #f7f7f7;
}
#paint-list {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.paint-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.paint-item:last-child {
    border-bottom: none;
}

.paint-item:hover {
    background-color: #f7f7f7;
}